body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  margin: 0;
  box-sizing: border-box;
  background-image: url('./images/bg3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
